:root {
  --primary-color:rgb(23, 46, 80);
  --secondary-color: rgb(25, 78, 156);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: var(--primary-color);
  color: white;
  padding: 0 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 24px;
  font-weight: 100;
}

.nav {
  display: flex;
  height: 50px;
}

.nav ul {
  display: none;
  gap: 20px;
  list-style: none;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav ul li a:hover {
  text-decoration: underline;
}

.mobile-nav-btn {
  display: flex;
  align-items: center;
}

.mobile-nav-btn button {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 8px; 
}

.mobile-nav-btn button img {
  filter: invert(1);
}

.main {
  height: calc(100% - 110.2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 150px;
}

.main-subpage {
  padding-bottom: 400px !important;
}

.main p {
  text-align: center;
}

.footer {
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

.primary-btn {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn a {
  color: white;
  text-decoration: none;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  width: 100%;
}

@media (min-width: 768px) {
  .nav ul {
    display: flex;
  }
  
  .mobile-nav-btn {
    display: none;
  }

  .search-bar {
    width: 500px;
  }
}